// color

$white: #fff;
$orange: #e67e22;
$darken-orange: #cf6d17;
$primary-white: #f4f4f4;
$primary-black: #333;

// breakpoints

$sm-device: 480px;
$md-device: 768px;
$md-device-landscape: 1024px;
$lg-device: 1200px;
